<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fries0.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{48,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,81}}</string>
                <key>sourceSize</key>
                <string>{48,81}</string>
            </dict>
            <key>fries1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{48,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,81}}</string>
                <key>sourceSize</key>
                <string>{48,81}</string>
            </dict>
            <key>fries2.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{48,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,81}}</string>
                <key>sourceSize</key>
                <string>{48,81}</string>
            </dict>
            <key>fries3.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{48,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,81}}</string>
                <key>sourceSize</key>
                <string>{48,81}</string>
            </dict>
            <key>fries4.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{48,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,81}}</string>
                <key>sourceSize</key>
                <string>{48,81}</string>
            </dict>
            <key>fries5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,81}}</string>
                <key>sourceSize</key>
                <string>{48,81}</string>
            </dict>
            <key>fries6.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{48,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,81}}</string>
                <key>sourceSize</key>
                <string>{48,81}</string>
            </dict>
            <key>fries7.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{48,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,81}}</string>
                <key>sourceSize</key>
                <string>{48,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>friesAni.png</string>
            <key>size</key>
            <string>{252,85}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61d078b66ed23b3e2c4e466966d0091b:1/1$</string>
            <key>textureFileName</key>
            <string>friesAni.png</string>
        </dict>
    </dict>
</plist>
