<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fries0.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{190,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,320}}</string>
                <key>sourceSize</key>
                <string>{190,320}</string>
            </dict>
            <key>fries1.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,2},{190,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,320}}</string>
                <key>sourceSize</key>
                <string>{190,320}</string>
            </dict>
            <key>fries2.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{190,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,320}}</string>
                <key>sourceSize</key>
                <string>{190,320}</string>
            </dict>
            <key>fries3.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{190,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,320}}</string>
                <key>sourceSize</key>
                <string>{190,320}</string>
            </dict>
            <key>fries4.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{190,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,320}}</string>
                <key>sourceSize</key>
                <string>{190,320}</string>
            </dict>
            <key>fries5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,320}}</string>
                <key>sourceSize</key>
                <string>{190,320}</string>
            </dict>
            <key>fries6.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{190,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,320}}</string>
                <key>sourceSize</key>
                <string>{190,320}</string>
            </dict>
            <key>fries7.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{190,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,320}}</string>
                <key>sourceSize</key>
                <string>{190,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>friesAni.png</string>
            <key>size</key>
            <string>{962,324}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:893730c62a794ea4a36ad827b77b6b0f:1/1$</string>
            <key>textureFileName</key>
            <string>friesAni.png</string>
        </dict>
    </dict>
</plist>
