<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>banana.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,64},{30,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,60}}</string>
			<key>sourceSize</key>
			<string>{30,60}</string>
		</dict>
		<key>bean.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,2},{33,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,60}}</string>
			<key>sourceSize</key>
			<string>{33,60}</string>
		</dict>
		<key>corn.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{150,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,94}}</string>
			<key>sourceSize</key>
			<string>{150,94}</string>
		</dict>
		<key>potatoMan.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,2},{40,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,60}}</string>
			<key>sourceSize</key>
			<string>{40,60}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>healthy_food.png</string>
		<key>size</key>
		<string>{231,98}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:a5c5d71998bf8724795fe6e79419cdbc:7a2bdcaf26be1167bbb494a7ccef7de3:cd1cc5ffde762d41fd1ca7e40376c772$</string>
		<key>textureFileName</key>
		<string>healthy_food.png</string>
	</dict>
</dict>
</plist>
