<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>banana.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,2},{30,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,60}}</string>
                <key>sourceSize</key>
                <string>{30,60}</string>
            </dict>
            <key>bean.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{33,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,60}}</string>
                <key>sourceSize</key>
                <string>{33,60}</string>
            </dict>
            <key>potato2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,60}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>healthy_food.png</string>
            <key>size</key>
            <string>{111,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89c5072a1039617e0e4ab4fc6d06a9ad:9bd1f94f7e39d6443d5a8a9eeab4d37f:cd1cc5ffde762d41fd1ca7e40376c772$</string>
            <key>textureFileName</key>
            <string>healthy_food.png</string>
        </dict>
    </dict>
</plist>
