<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>foodtruck0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{136,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,120}}</string>
                <key>sourceSize</key>
                <string>{136,120}</string>
            </dict>
            <key>foodtruck1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{136,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,120}}</string>
                <key>sourceSize</key>
                <string>{136,120}</string>
            </dict>
            <key>foodtruck2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,120}}</string>
                <key>sourceSize</key>
                <string>{136,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>foodtruckAni.png</string>
            <key>size</key>
            <string>{128,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77049f69e91b1ac36f0ec970b715e161:1/1$</string>
            <key>textureFileName</key>
            <string>foodtruckAni.png</string>
        </dict>
    </dict>
</plist>
