<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>coke0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{45,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,74}}</string>
                <key>sourceSize</key>
                <string>{45,74}</string>
            </dict>
            <key>coke1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{45,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,74}}</string>
                <key>sourceSize</key>
                <string>{45,74}</string>
            </dict>
            <key>coke2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{45,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,74}}</string>
                <key>sourceSize</key>
                <string>{45,74}</string>
            </dict>
            <key>coke3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{45,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,74}}</string>
                <key>sourceSize</key>
                <string>{45,74}</string>
            </dict>
            <key>coke4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{45,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,74}}</string>
                <key>sourceSize</key>
                <string>{45,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cokeAni.png</string>
            <key>size</key>
            <string>{64,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96a94c9f739bd9743874e0041f399bef:1/1$</string>
            <key>textureFileName</key>
            <string>cokeAni.png</string>
        </dict>
    </dict>
</plist>
