<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bomb1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,768},{604,692}}</string>
			<key>offset</key>
			<string>{-31,-36}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,72},{604,692}}</string>
			<key>sourceSize</key>
			<string>{666,764}</string>
		</dict>
		<key>bomb2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{666,764}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{666,764}}</string>
			<key>sourceSize</key>
			<string>{666,764}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>bombAni.png</string>
		<key>size</key>
		<string>{670,1462}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:96751c0451d54a07e9d4e3273ce79c0d:b5fb86c77d9e9c152590de815379483c:b3580991c8ca37986783cdb45024aa0e$</string>
		<key>textureFileName</key>
		<string>bombAni.png</string>
	</dict>
</dict>
</plist>
