<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>corn0.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,58},{80,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,54}}</string>
                <key>sourceSize</key>
                <string>{80,54}</string>
            </dict>
            <key>corn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,58},{80,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,54}}</string>
                <key>sourceSize</key>
                <string>{80,54}</string>
            </dict>
            <key>corn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{80,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,54}}</string>
                <key>sourceSize</key>
                <string>{80,54}</string>
            </dict>
            <key>corn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{80,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,54}}</string>
                <key>sourceSize</key>
                <string>{80,54}</string>
            </dict>
            <key>corn4.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{80,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,54}}</string>
                <key>sourceSize</key>
                <string>{80,54}</string>
            </dict>
            <key>corn5.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{80,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,54}}</string>
                <key>sourceSize</key>
                <string>{80,54}</string>
            </dict>
            <key>corn6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,54}}</string>
                <key>sourceSize</key>
                <string>{80,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cornAni.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c6d0ee0a78701eab73f46dded82e255f:1/1$</string>
            <key>textureFileName</key>
            <string>cornAni.png</string>
        </dict>
    </dict>
</plist>
